body {
	width: 50%;
	margin: auto;
	box-shadow: 0 4px 28px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.umbclogo {
	font-size: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
}

.logo1{
	height: 65px;
	width: 65px;
}


.logo2 {
	height: 35px;
	width: 35px;
}

.blacktab{
	padding-top: 20px;
	background-color: black;
	color: white;
	font-size: 20px;
	padding-left: 630px;
	padding-bottom: 5px;
	font-family: sans-serif;
}



.socialmedia{
	margin-top: 50px;
	text-align: center;
	font-family: sans-serif;
	font-size: 14px;
	font-style: italic;
}





.smicon{
	height: 70px;
	width: 70px;
	border-radius: 5px;
	margin: 5px;
}


.brk {
	border: 1px solid black;
	padding: 5px;
}





.test {
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
}

.testimg{
	height: 65px;
	width: 65px;
}







form {
  margin: 0 auto;
  width: 430px;
  padding: 1em;
  border: 2px solid #CCC;
  border-radius: 1em;
}

input, textarea {
  font: 1em sans-serif;
  width: 300px;
}

textarea {
  vertical-align: top;
  height: 5em;
  resize: vertical;
}

div + div {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 85px;
  text-align: right;
}

.button {
  padding-left: 90px;
}

button {
  margin-left: .5em;
}


